{% extends 'dummy.html' %}
{% block title %}
<title>UESR_LOGIN FORM</title>
{% endblock %}

{% block body_block %}

<h1>USER LOGIN FORM</h1>
<center>
    <fieldset style="width: fit-content;">
<form action="" method="POST" >
 {% csrf_token %}

 <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">USERNAME</span>
    <label for="username"></label>
    <input type="text" class="form-control" placeholder="username" aria-label="username" aria-describedby="addon-wrapping" name="username" id="username">
  </div><br>
 <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">PASSWORD:</span>
    <label for="password"></label>
    <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="addon-wrapping" name="password" id="password">
  </div><br><br>
 <input type="submit" value="LOGIN">
 

</form>
</fieldset>
</center>

{% endblock %}